[Unit]
OnFailure=studio-gq-notify.service
Description=Studio GQ consistent encrypted off-server backup
Wants=network-online.target
After=network-online.target
[Service]
Type=oneshot
User=root
ExecStart=/usr/local/sbin/backup-studio-gq
UMask=0077
